.main {
  background: linear-gradient(
    103deg,
    rgb(225, 180, 180) 0%,
    rgb(139, 102, 241) 100%
  );
}
h1 {
  text-align: center;
  font-size: 70px;
  color: #de703c;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
h2 {
  text-align: center;
  font-size: 60px;
  color: #de703c;
}
h3 {
  color: #e3e8e9;
  text-align: center;
}
body {
  font-family: "Indie Flower", cursive;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px;
  max-height: 55px;
}
.cfg-logo {
  height: 150px;
  width: 150px;
  margin-top: 1px;
  padding-left: 20px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline;
  padding: 0px 20px;
}
.nav-links a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
}
.nav-links a:hover {
  color: #fbb040;
}
ul {
  padding-inline-start: 0;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 0px 20px;
  display: inline;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a coral background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #fbb040;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2f3c4f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

header {
  background-color: #2f3c4f;
}
button {
  display: block;
  margin: auto;
  background: #506f86;
  color: #fbb040;
  padding: 15px;
  border: 0;
  border-radius: 20px;
  transition: 200ms;
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  font-weight: bolder;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.contact-link {
  text-decoration: none;
  font-family: "Indie Flower", cursive;
}

.fa-brands {
  font-size: 30px;
  transition: color 0.4s ease;
}
.fa-brands:hover {
  color: lightcoral;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
footer {
  background-color: #2f3c4f;
  color: white;
}
.foot-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
}
img {
  vertical-align: middle;
  border-radius: 20px;
  margin: 20px;
}
.first-pic {
  display: flex;
  align-items: center;
}
.first-pic-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 100px;
  align-items: center;
  color: #2f3c4f;
  font-weight: bold;
}
.second-pic {
  display: flex;
  align-items: center;
}
.second-pic-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 100px;
  align-items: center;
  color: #2f3c4f;
  font-weight: bold;
}
.icons-default {
  color: white;
}
.lucy {
  display: flex;
}
.lucyPic {
  width: 100px;
  display: flex;
  text-align: start;
  justify-content: center;
  margin: 0;
  padding: 15px;
}
.lucy-text {
  display: flex;

  justify-content: center;
  padding-top: 20px;
}
.tanya {
  display: flex;
}
.tanya-pic {
  width: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding-left: 75px;
}
.tanya-text {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-left: 100px;
}
