.main {
  background: linear-gradient(
    103deg,
    rgb(225, 180, 180) 0%,
    rgb(139, 102, 241) 100%
  );
}
h1 {
  text-align: center;
  font-size: 70px;
  color: #de703c;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
h2 {
  text-align: center;
  font-size: 60px;
  color: #de703c;
}
h3 {
  color: #e3e8e9;
  text-align: center;
}
body {
  font-family: "Indie Flower", cursive;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px;
  max-height: 55px;
}
.cfg-logo {
  height: 150px;
  width: 150px;
  margin-top: 1px;
  padding-left: 20px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline;
  padding: 0px 20px;
}
.nav-links a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
}
.nav-links a:hover {
  color: #fbb040;
}
ul {
  padding-inline-start: 0;
  font-size: 20px;
  font-weight: bolder;
}
header {
  background-color: #2f3c4f;
}
button {
  display: block;
  margin: auto;
  background: #506f86;
  color: #fbb040;
  padding: 15px;
  border: 0;
  border-radius: 20px;
  transition: 200ms;
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  font-weight: bolder;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.contact-link {
  text-decoration: none;
  font-family: "Indie Flower", cursive;
}

.fa-brands {
  font-size: 30px;
  transition: color 0.4s ease;
}
.fa-brands:hover {
  color: lightcoral;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
footer {
  background-color: #2f3c4f;
  color: white;
}
.foot-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
}
img {
  vertical-align: middle;
  border-radius: 20px;
  margin: 20px;
}
.first-pic {
  display: flex;
  align-items: center;
}
.first-pic-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 100px;
  align-items: center;
  color: #2f3c4f;
  font-weight: bold;
}
.second-pic {
  display: flex;
  align-items: center;
}
.second-pic-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 100px;
  align-items: center;
  color: #2f3c4f;
  font-weight: bold;
}
.icons-default {
  color: white;
}
